* {
    margin: 0;
    padding: 0;
}

#loading-screen {
    position: absolute;
    width: 1500px;
    height: 800px;
    transition: opacity 2s ease-out;
}

#gamebox {
    width: 1500px;
    height: 800px;
    margin: 60px auto 0 auto;
    border: 20px solid black;
}


/* Gamepad */

#gamepad {
    display: block;
    float: right;
    background-color: red;
    width: 400px;
    height: 800px;

}

#player-one-gamepad {
    background-color: rgb(228, 228, 0);
    width: 400px;
    height: 200px;
}

#player-two-gamepad {
    background-color: rgb(197, 197, 0);
    width: 400px;
    height: 200px;
}

#player-three-gamepad {
    background-color: rgb(153, 153, 0);
    width: 400px;
    height: 200px;
}

#player-four-gamepad {
    background-color: rgb(100, 100, 0);
    width: 400px;
    height: 200px;
}

h3 {
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.betting-gamepad {
}

#betting-gamepad-player-one  img{
    margin: 20px 0px 0px 20px;
    border: 3px solid transparent;
}

#betting-gamepad-player-two  img{
    margin: 20px 0px 0px 20px;
    border: 3px solid transparent;
}

#betting-gamepad-player-three  img{
    margin: 20px 0px 0px 20px;
    border: 3px solid transparent;
}

#betting-gamepad-player-four  img{
    margin: 20px 0px 0px 20px;
    border: 3px solid transparent;
}

#bet-football-playerOne:hover {
    border: 3px solid red;
}

#bet-thomas-playerOne:hover {
    border: 3px solid red;
}

#bet-dude-playerOne:hover {
    border: 3px solid red;
}

#bet-hotdog-playerOne:hover {
    border: 3px solid red;
}

#bet-football-playerTwo:hover {
    border: 3px solid red;
}

#bet-thomas-playerTwo:hover {
    border: 3px solid red;
}

#bet-dude-playerTwo:hover {
    border: 3px solid red;
}

#bet-hotdog-playerTwo:hover {
    border: 3px solid red;
}

#bet-football-playerThree:hover {
    border: 3px solid red;
}

#bet-thomas-playerThree:hover {
    border: 3px solid red;
}

#bet-dude-playerThree:hover {
    border: 3px solid red;
}

#bet-hotdog-playerThree:hover {
    border: 3px solid red;
}

#bet-football-playerFour:hover {
    border: 3px solid red;
}

#bet-thomas-playerFour:hover {
    border: 3px solid red;
}

#bet-dude-playerFour:hover {
    border: 3px solid red;
}

#bet-hotdog-playerFour:hover {
    border: 3px solid red;
}

#betting-gamepad-player-one input {
    margin: 10px 0px 0px 40px;
    width: 250px;
    font-size: 20px;
}

#betting-gamepad-player-one button {
    width: 50px;
    height: 30px;
    padding: 2px 0px 0px 0px;
    font-size: 20px;
    background-color: brown;
    border-color: rgb(144, 51, 51);
    border-radius: 3%;
}

#betting-gamepad-player-two input {
    margin: 10px 0px 0px 40px;
    width: 250px;
    font-size: 20px;
}

#betting-gamepad-player-two button {
    width: 50px;
    height: 30px;
    padding: 2px 0px 0px 0px;
    font-size: 20px;
    background-color: brown;
    border-color: rgb(144, 51, 51);
    border-radius: 3%;
}

#betting-gamepad-player-three input {
    margin: 10px 0px 0px 40px;
    width: 250px;
    font-size: 20px;
}

#betting-gamepad-player-three button {
    width: 50px;
    height: 30px;
    padding: 2px 0px 0px 0px;
    font-size: 20px;
    background-color: brown;
    border-color: rgb(144, 51, 51);
    border-radius: 3%;
}

#betting-gamepad-player-four input {
    margin: 10px 0px 0px 40px;
    width: 250px;
    font-size: 20px;
}

#betting-gamepad-player-four button {
    width: 50px;
    height: 30px;
    padding: 2px 0px 0px 0px;
    font-size: 20px;
    background-color: brown;
    border-color: rgb(144, 51, 51);
    border-radius: 3%;
}

/* Gamepad UpgradeRoom */

.upgrade-speed {
    margin: 20px;
}
.upgrade-intelligence {
    margin: 20px;
}

/* Gamepad Attack The Run */

#attack-thomas-playerOne {
    border: 3px solid red;
}

#attack-football-playerTwo {
    border: 3px solid red;
}

#attack-football-playerThree {
    border: 3px solid red;
}

#attack-football-playerFour {
    border: 3px solid red;
}


/* Game area */

#gamearea {
    width: 1100px;
    height: 800px;
    background-color: black;
    position: relative;
}

#option {
    display: block;
    text-align: center;
    line-height: 130px;
    position: relative;
    top: 120px;
    opacity: 0;
    transition: opacity 2s ease-in;
}

h1 {
    color: white;
    font-size: 100px;
    margin-bottom: 40px;
}

h2 {
    color: white;
    font-size: 60px;
    border: 5px solid black;
}

h2:hover {
    border: 5px solid red;
    color: red;
    margin-right: 20px;
    font-size: 75px;
    border-radius: 1%;
    cursor: pointer;
}      

.gamearea-img {
    background-image: url("./img/Map1-finished.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.football-img {
    position: absolute;
    top: 130px;
}

.thomas-img {
    position: absolute;
    top: 107px;
    width: 130px;
    height: 90px;
}

.dude-img {
    position: absolute;
    top: 112px;
    width: 100px;
    height: 100px;
}

.hotdog-img {
    position: absolute;
    top: 145px;
    width: 80px;
    height: 60px;
}

#playerOne {
    position: relative;
    height: 190px;
   /* width: 100px; */
}

#playerTwo {
    position: relative;
    height: 190px;
    margin-top: 12px;
   /* width: 100px; */
}

#playerThree {
    position: relative;
    height: 190px;
   /* width: 100px; */
}

#playerFour {
    position: relative;
    height: 190px;
    margin-top: 12px;
   /* width: 100px; */
}

#countdown {
    font-size: 200px;
    position: absolute;
    top: 280px;
    left: 550px;
    color: rgb(243, 228, 25);
    background-color: rgba(187, 0, 0, 0.801);
    padding: 30px 40px 0 40px;
    border: 3px solid black;
    border-radius: 50%;
}

h4 {
    height: 300px;
    font-size: 150px;
    text-align: center;
    width: 1000px;
    position: absolute;
    top: 240px;
    color: rgb(0, 0, 0);
    border: 10px dotted rgb(255, 208, 0);
    left: 35px;
    background-color: rgba(255, 254, 254, 0.746);
}

.talking-bubble:hover {
    border: 3px solid red;
    cursor: pointer;
}

h4:hover {
    border: 10px solid rgb(255, 208, 0);
    cursor: pointer;
}

/* Character Selection*/

#character-selection {
    background-image: url("./img/Background-character-selection.jpeg");
    background-size: 100% 100%;
    width: 1100px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

#football-selection {
    background-image: url("./img/football.png");
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    margin: 50px 100px;
    border: 5px solid transparent;
}

#football-selection:hover {
    border: 5px solid red;
    margin: 47.5px 100px;
}

#thomas-selection {
    background-image: url("./img/ThomasTheTankEngine.png");
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    margin: 50px 100px;
    border: 5px solid transparent;
}

#thomas-selection:hover {
    border: 5px solid red;
    margin: 47.5px 100px;
}

#dude-selection {
    background-image: url("./img/Dude-p3.png");
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    margin: 50px 100px;
    border: 5px solid transparent;
}

#dude-selection:hover {
    border: 5px solid red;
    margin: 47.5px 100px;
}

#hotdog-selection {
    background-image: url("./img/Hotdog-p4.jpg");
    background-size: 100% 100%;
    height: 300px;
    width: 300px;
    margin: 50px 100px;
    border: 5px solid transparent;
}

#hotdog-selection:hover {
    border: 5px solid red;
    margin: 47.5px 100px;
}


/* SHOP: HERE: PUT THE SIMS LOBBY MUSIC!!!! */

#shop-layout {
    background-image: url("./img/reception.jpg");
    background-size: 1100px 800px;
    height: 800px;
    opacity: 0;
    position: relative;
    transition: opacity 2s ease-in;
}

.talking-bubble {
    background-color: white;
    border-radius: 20%;
    display: flex;
    padding: 15px 10px 15px 20px;
    font-size: 30px;
    margin: 0px 30px 0px 700px;
    border: 3px solid white;
}

#race-btn {
    background-image: url("./img/Race-img.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    height: 100px;
    width: 200px;
    top: 100px;
    left: 30px;
    border: 4px solid transparent;
}

#back-alley-btn {
    background-image: url("./img/Casino.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100px;
    width: 175px;
    border-radius: 20%;
    position: absolute;
    left: 910px;
    top: 610px;
}

#upgrade-btn {
    background-image: url("./img/upgrade-img2.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    position: absolute;
    left: 931px;
    top: 450px; 
}

.buy-douchbag-btn {
    background-image: url("./img/button_buy-douchbomb.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 60px;
    width: 280px;
    margin: 40px 0px 0px 60px;
}

#back-alley-btn:hover {
    border: 4px solid red;
    left: 906px;
    top: 606px;
    cursor: pointer;
}

#upgrade-btn:hover {
    border: 4px solid red;
    cursor: pointer;
    left: 927px;
    top: 446px;
}


#race-btn:hover {
    border: 4px solid red;
    cursor: pointer;
    border-radius: 12%;
}

/* Upgrade room*/

#upgrade-room {
    background-image: url("./img/Upgrade-room.jpg");
    background-size: 1100px 800px;
    height: 800px;
    position: relative;
}

#upgrade-speed {
    background-image: url("./img/153410075599597954.png");
    background-size: 100% 100%;
    height: 150px;
    width: 150px;
    position: absolute;
    left: 230px;
    top: 160px;
}

#upgrade-intelligence {
    background-image: url("./img/Intelligence-upgrade.png");
    background-size: 100% 100%;
    height: 100px;
    width: 100px;
    position: absolute;
    left: 520px;
    top: 190px;
}

#upgrade-speed:hover {
    height: 190px;
    width: 220px;
    left: 195px;
    top: 125px;
}

#upgrade-intelligence:hover {
    height: 120px;
    width: 150px;
    left: 500px;
    top: 170px; 
}

h5 {
    line-height: 640px;
    font-size: 30px;
    word-spacing: 160px;
    margin-left: 260px;
    color: green;
    text-shadow: 1.5px 1.5px black;
}

#exit-upgrade {
    background-image: url("./img/Exit-sign.png");
    background-size: 100% 100%;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    position: absolute; 
    top: 550px;
    left: 780px;
    border-radius: 10%;
}

#exit-upgrade:hover {
    height: 150px;
    width: 300px;
    top: 525px;
    left: 755px;
}


/* Back alley */

#back-alley {
    background-image: url("./img/Back-alley.jpg");
    background-size: 1100px 800px;
    position: relative;
    height: 800px;
}

#talking-bubble-alley {
    background-color: white;
    border-radius: 20%;
    display: flex;
    padding: 15px 10px 15px 20px;
    font-size: 30px;
    margin: 0px 30px 0px 700px;
    border: 3px solid white;
}

#talking-bubble-alley:hover {
    border: 3px solid red;
    cursor: pointer;
}

#shady-guy {
    background-image: url("./img/Shady-person.png");
    background-size: 100% 100%;
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
}

#exit-alley {
    background-image: url("./img/Exit-sign.png");
    background-size: 100% 100%;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    position: absolute; 
    top: 350px;
    left: 780px;
    border-radius: 10%;
}

#exit-alley:hover {
    height: 150px;
    width: 300px;
    top: 325px;
    left: 755px;
}


/* ICONS */

.lightning-icon {
    background-image: url("./img/lightning-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 140px;
}

.poop-icon {
    background-image: url("./img/poop-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 142px;
}

.explosion-icon {
    background-image: url("./img/Burn-gif.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90px;
    width: 80px;
    position: absolute;
    top: 102px;
}